#mutual section{
    padding: 0px 25px;
    text-align: center;
}
#mutual ul li{
    padding: 10px 25px;
    list-style: none;
    margin-left: -30px;
    font-size: 20px;
    width: 530px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mutual-name{
    font-weight: 700;
}
#mutual ul li:not(:last-child){
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(131, 131, 131, 0.436);
}
#mutual ul li .course{
    background-color: var(--text-color);
    padding: 10px;
    color: white;
}