.update-profile-Container{
    margin-left: auto; 
    margin-right: 0;
    background: url("../../images/love.avif");
    background-size: cover;
    height: 100vh;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.update-section{
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.708);
    width: 900px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.update-section .header{
    width: 100%;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.823);
    text-align: center;
    font-weight: 700;
    letter-spacing: 3px;
}
.update-section .field{
    width: calc(50% - 50px);
    margin-bottom: 15px;
    border-bottom: 3px solid rgb(90, 90, 90);
    border-radius: 5px;
}
.update-section .field label{
    color: white;
    font-size: 22px;
    font-weight: 500;
}
.update-section .field input{
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding-left: 8px;
}
.submit-btn{
    margin-top: 10px;
    width: calc(100% - 65px);
}
.degr{
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding-left: 8px;
}
@media (max-height:500px){
    
    .update-profile-Container{
        height: fit-content;
    }
}
@media (max-width:1393px){
    
    .update-profile-Container{
        width: 100%;
    }
}
.PPvibrate {
    animation: vibrate 0.3s ease-in-out infinite; /* Define the vibrate animation */
    border-color: red;
}
@keyframes vibrate {
    0%,
    100% {
      transform: translateX(0); /* Initial and final position */
    }
    25%,
    75% {
      transform: translateX(-5px); /* Move to the left */
    }
    50% {
      transform: translateX(5px); /* Move to the right */
    }
}